.home-page {
  display: flex;
  justify-content: center;
  
  nav {
    margin-right: 25px;
    width: 15%;

    ul {
      li {
        cursor: pointer;
        padding: 10px;
        list-style: none;

        &:hover { 
          background-color: rgb(196, 196, 164);
        }
      }
    }
  }

  article {
    width: 80%;
    max-width: 1800px;
  }
}